/**
 * 	
 * #COMMANDER
 * a.k.a. sub-nav
 * 
 */

#commander, .post-commander {
	padding: 0;
	font-size: .9em;
}

#commander li, .post-commander li {
	list-style-type: none;
	display: inline-block;
	margin: 0 .5em;
	vertical-align: bottom;
}

#commander li {
	position: relative;
	bottom: .4em;
}

/**
 * 	
 * POST ROW
 * 
 */


/**
 * 	EDIT BUTTONS
 */
.edit-title, .edit-tags, .delete-post {
	font-size: .7em;
	vertical-align: top;
}

.edit-title {
	position: relative;
	top: .5em;
}

.delete-post {
	float: right;
}


/**
 * 	TITLE (h2), TAGS (.post-tags, .tags-list), DESCRIPTION (.post-description), META (.post-meta)
 */
.post-title h1, .post-title h2 {
	display: inline-block;
	margin: 0;
	margin-right: .3em;
	line-height: 2em;
}

.post-tags {
	margin: 0;
	line-height: 1.7em;
}

.post-description {
}

.post-meta li {
	list-style-type: square;
	margin: 0 .1em;
}

.tags-list, .tags-list li {
	list-style-type: none;
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-left: .1em;
}

.tags-list li:after {
	content: ",";
	margin-right: .3em;
}

.tags-list li.last:after {
	content: "";
	margin-right: 0;
}

/**
 * 	POST ROW EDITOR INPUTS
 */
.post-title-input, 
.post-tags-input,
.post-directory-input {
	font-size: 1.2em;
	width: 25em;
}

.post-tags-input,
.post-directory-input {
	font-size: 1em;
}

.post-description-textarea {
	width: 30em;
	height: 6em;
	font-size: 1.1em;
}

/**
 * 	POST ROW EDITOR COMMANDERS
 */

.post-title-commander, 
.post-tags-commander,
.post-directory-commander {
	display: inline-block;
	height: 1.5em;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	position: relative;
	bottom: .8em;
	list-style-type: none;
	font-size: .7em;
}

.post-description-commander {
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: .5em;
	list-style-type: none;
	font-size: .7em;
}

/**
 * 	POST COMMANDER LI
 */
.post-title-commander li, 
.post-tags-commander li,
.post-directory-commander li {
	display: inline-block;
	margin-right: .1em;
}

.post-description-commander li {
	margin-bottom: .1em;
}

/**
 * 	POST ROW EDITOR CHARS LEFT
 */
.post-title-commander .chars-left, 
.post-tags-commander .chars-left, 
.post-directory-commander .chars-left {
	font-size: 1.1em;
	margin: 0 .5em;
}

.post-description-commander .chars-left {
	font-size: 1.1em;
}

/**
 * 	POST ROW EDITOR SPINNERS
 */
.post-title-spinner,
.post-tags-spinner,
.post-directory-spinner {
	float: right;
	position: relative;
	left: .5em;
}

.post-description-spinner {
	position: relative;
	left: .2em;
	top: .3em;
}