RewriteEngine Off

<ifmodule mod_expires.c>
ExpiresActive On
ExpiresDefault "access plus 604800 seconds"
</ifmodule>

<ifmodule mod_gzip.c>
mod_gzip_on Yes
mod_gzip_can_negotiate Yes
mod_gzip_static_suffix .gz
AddEncoding gzip .gz
mod_gzip_update static No
mod_gzip_send_vary On
mod_gzip_dechunk Yes
</ifModule>